.skills-section {
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.skill-item {
  position: relative;
  box-shadow: var(--shadow);
  border: var(--border);
  text-align: center;
  font-family: var(--font-bodytext);
  color: var(--color-dark);
  border-radius: var(--border-radius); 
  perspective: 600px;
  transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  flex-basis: 80px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding: 4px 8px;
  background: rgba(217, 208, 222, 0.184);
  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(50px);
  position: relative; 
}

.skill-name{
  font-size: 12px;
  font-weight: 300;
}

// @media (max-width: 1200px) {
//   .skill-item {
//     flex-basis: 220px;
//   }
// }

// @media (max-width: 900px) {
//   .skill-item {
//     flex-basis: 180px;
//   }
// }

// @media (max-width: 700px) {
//   .skill-item {
//     flex-basis: 140px;
//   }
// }