.skills-section {
  overflow-x: hidden;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}

.skill-item {
  position: relative;
  background: var(--color2);
  box-shadow: var(--shadow);
  border: solid 2px #ffffff; 
  outline: var(--border);
  text-align: center;
  font-family: var(--font-bodytext);
  color: var(--color-dark);
  border-radius: 12px; 
  perspective: 600px;
  transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding: 4px 8px;
}

.skills-grid .skill-item {
  opacity: 1 !important;
  transition: opacity 0s ease; 
}

.skills-grid .skill-item.visible {
  opacity: 1;
}

.skills-grid .skill-item {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.skills-grid .skill-item.visible {
  opacity: 1;
}

@media (max-width: 1200px) {
  .skills-grid {
    gap: 0.8rem;
  }

  .skill-item {
    flex-basis: 220px;
  }
}

@media (max-width: 900px) {
  .skills-grid {
    gap: 0.5rem;
  }

  .skill-item {
    flex-basis: 180px;
  }
}

@media (max-width: 700px) {
  .skills-grid {
    gap: 0.3rem;
  }

  .skill-item {
    flex-basis: 140px;
  }
}