.cursor-dot {
  position: fixed;
  width: 16px;
  height: 16px;
  background-color: var(--color-light);; 
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference;
  transition: transform 0.1s ease;
  pointer-events: none;
}

.cursor-tail {
  position: fixed;
  width: 20px;
  height: 20px; 
  padding: 1rem;
  background-color: var(--color-light); 
  z-index: 10000;
  mix-blend-mode: difference;
  transition: transform 0.001s ease;
  pointer-events: none;
}
