.cursor-dot {
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: difference;
  transition: transform 0.001s ease, background-color 0.001s ease;
}