.button-darkmode{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transform: none !important;
    transform-origin: none !important;
}

.button-darkmode:hover{
    animation: rotate 0.3s linear; 
    } 
      
      @keyframes rotate{
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(90deg); 
        }
      }
