.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color1);
    z-index: 2500;
  }
  
  .navbar--sticky {
    background-color: transparent;
    text-shadow: -1px 1px 1px rgb(17, 16, 16); 
  }
  
  .navbar__link {
    text-decoration: none;
    /* background-color: var(--color1); */
    color: var(--color3);
    font-family: var(--font-header);
    padding: 2px;
    /* border-radius: 15px; */
    /* font-size: 1.2rem; */
    font-weight: 500;
    /* transition: color 0.03s ease; */
    height: fit-content;
    z-index: 2500
  }
  
  .navbar__link:hover {
    color: var(--color5);
    z-index: 2500;
  }
  
  /* Button styles */
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: inherit;
    font-size: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 0.5rem;
    }
  
    .navbar-links {
      display: flex;
      flex-direction: column; 
      align-items: center;
      gap: 10px; 
    }
  
    .navbar__link {
      font-size: 1rem; 
    }
  }
  
  @media (max-width: 480px) {
    .navbar__link {
      font-size: 0.9rem; 
      padding: 5px 10px; 
    }
  
    .navbar-links {
      gap: 10px; 
    }
  }  

  .navbar__link {
    transition: all 0.03s ease-in-out;
  }