@use 'tailwindcss/base' as *;
@use 'tailwindcss/components' as *;
@use 'tailwindcss/utilities' as *;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Funnel+Display:wght@300..800&family=Lexend+Peta:wght@100..900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  background-color:theme('colors.light-bg');
}

html.dark {
  background-color: theme('colors.dark-bg');
}

body {
  background-color:theme('colors.light-bg');
}

body.dark {
  background-color: theme('colors.dark-bg');
}

main {
  flex-grow: 1;
  padding-top: 9rem;
  padding-bottom: 3rem;
  height: 100%;
  background: 
    radial-gradient(circle, theme('colors.color1') 5%, transparent 5%) 0 0,
    radial-gradient(circle, theme('colors.color1') 5%, transparent 5%) 10px 10px;
  background-size: 20px 20px;
  background-attachment: fixed;
  background-color: transparent;
}


h1, h2 {
  font-family: 'Prompt', sans-serif;
  position: relative;
}

h1 {
  letter-spacing: -1px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  overflow: visible;
  color: theme('colors.light-text');
}

h2 {
  font-weight: 100;
  letter-spacing: 50%;
  text-transform: uppercase;
  color: theme('colors.color3');
}