@use 'tailwindcss/base' as *;
@use 'tailwindcss/components' as *;
@use 'tailwindcss/utilities' as *;

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');


html {
  background-color:theme('colors.light-bg');
}

html.dark {
  background-color: theme('colors.dark-bg');
}

body {
  background-color:theme('colors.light-bg');
}

body.dark {
  background-color: theme('colors.dark-bg');
}

main {
  flex-grow: 1;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 100%;
  background: 
    radial-gradient(circle, theme('colors.color1') 6%, transparent 6%), 
    radial-gradient(circle, theme('colors.color1') 6%, transparent 6%);
  
  background-size: 15px 15px; 
  background-attachment: fixed;
  background-color: transparent;
}



h1, h2 {
  font-family: 'Prompt', sans-serif;
  position: relative;
}

h1 {
  letter-spacing: -1px;
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  overflow: visible;
  color: theme('colors.light-text');
}

h2 {
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 50%;
  text-transform: uppercase;
  color: theme('colors.color3');
}