.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: max-content;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: start;
  /* padding: 1rem; */
  letter-spacing: -1px;
  margin-bottom: 1rem;
  z-index: 100;
}