.header-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}


.header {
  position: relative;
  z-index: 1;
  width: 100%;
  /* height: 200px; */
  padding-bottom: 1%;
  background-color: transparent; 
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  /* backdrop-filter: blur(10px);  */
}

