.header-container {
  position: fixed;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-around; 
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: var(--font-header);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: -0.5px;
  overflow: hidden; 
  padding: 10px; 
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.header-content {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-around; 
  text-align: center;
  text-transform: uppercase;
  line-height: 1rem;
}

.name, .position {
  font-size: 1.5rem; 
}

.name {
  font-weight: 900;
  color: var(--color3); 
}

.position {
  font-weight: 100;
  color: var(--color3); 
}

@media (min-width: 768px) {
  .header-content {
    flex-direction: row;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header-container {
    padding: 10px; 
    gap: 0.5rem;
  }
}