@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

#root {
  font-family: "Prosto One", serif;
  color: rgb(44, 22, 9);
  font-size: 2em;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #b07030, #f4cfaf);
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  color: rgb(44, 22, 9);
}