@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color1:linear-gradient(45deg,  #7cceda, #2ec4b6);
  --color2: #fca949;
  --color3: linear-gradient(45deg, #c8c3fc, #b59afe);
  --color-light: #f7da74c5;
  --color-dark: #383430;

  --font-header: "Comfortaa", serif;
  --font-bodytext: "Comfortaa", serif;
  --font-accent: "Comfortaa", serif;

  --border-radius: 40px;
  --border: solid 0.5px #000;
  --shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

    /* transform: rotateX(-25deg) rotateY(25deg); */
    height: 100%;
    width: 100%;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;

}

h1, h2, h3, h4 {
  font-family: var(--font-header);
  color: var(--color-dark);
  line-height: var(--line-height-tight);
  margin-bottom: 50px;
  position: relative;
}

h1 {
  font-weight: var(--font-weight-bold);  
  color: var(--color1);
  letter-spacing: -2px;
  text-align: space-between;
  font-size: 40px;
  white-space: nowrap;
  position: relative;
  transform: rotateX(-25deg) rotateY(25deg);
  text-transform: uppercase;
  overflow: visible;
}


h2 {

  font-weight: var(--font-weight-bold);
  color: var(--color4);
  letter-spacing: -1.5px;
  transform: rotateX(-25deg) rotateY(25deg);
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  color: var(--color2)
}

h4 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
}


button {
  font-size: 12px;
  background-color: var(--color4);
  color: var(--color-light);
  border: none;
}


a {
  color: var(--color1);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  transition: color 0.03s ease, transform 0.02s ease;
}

a:hover {
  color: var(--color2);
  transform: scale(1.05);
}

html.dark body {
  color: var(-color-dark);
}

html:not(.dark) body {
  background-color: var(--color-light);
  color: var(--color-light);
}

section {
  margin-inline: auto;
  /* width: min(1000px, 100%); */
  background: rgba(217, 208, 222, 0.184);
  border: 0.5px solid rgba(255, 255, 255, 0.3); 
  background-image: radial-gradient(circle, rgba(123, 123, 123, 0.584) 1px, transparent 1px);
  background-size: 20px 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 50px;
  width: 86vw;
  min-height: 60vh;
  height: fit-content;
  display: block; 
  justify-content: start;
  align-items: center;
  perspective: 600px;
  transition: transform 0.3s ease-out, background-color 0.3s, opacity 0.3s;
  margin: 50px; 
  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(50px);
  position: relative; 
}

main {
  display: flex;
  flex-direction: column;
}


.bg-gradient-to-b {
  background-color: var(--color-light); 
  width: 100vw;
  position: relative;  
  z-index: 0; 
}

/* Light Mode */
.bg-gradient-to-b::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
}


/* Dark Mode */
.dark .bg-gradient-to-b {
  background-color: var(--color-dark);
}


.contact-social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact-social-wrapper a {
  text-decoration: none;
  color: inherit;
}

.footer-container {
  padding: 1rem;
}