@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Special+Elite&family=Sulphur+Point:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color1: #a06114;
  --color2: #ffc25f;
  --color3: #bea2ff;
  --color-light: #fff3c1;
  --color-dark: #2f2b37;

  --font-header:  "Fraunces", serif;
  --font-basic: "Bebas Neue", serif;
  --font-text: "Sulphur Point", serif;
  --font-accent: "Special Elite", serif;

}


body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: var(--font-header);
  color: var(--color-dark);
  line-height: var(--line-height-tight);
  margin-bottom: 50px;
  position: relative;
}

h1 {
  font-weight: var(--font-weight-bold);  
  color: var(--color1);
  letter-spacing: -2px;
  text-align: space-between;
  font-size: 40px;
  white-space: nowrap;
  position: relative;
  transform: rotateX(-25deg) rotateY(25deg);
  text-transform: uppercase;
  overflow: visible;
}


h2 {

  font-weight: var(--font-weight-bold);
  color: var(--color4);
  letter-spacing: -1.5px;
  transform: rotateX(-25deg) rotateY(25deg);
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  color: var(--color2)
}

h4 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
}


button {
  font-size: 12px;
  background-color: var(--color4);
  color: var(--color-light);
  border: none;
}


a {
  color: var(--color1);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  transition: color 0.03s ease, transform 0.02s ease;
}

a:hover {
  color: var(--color2);
  transform: scale(1.05);
}

html.dark body {
  color: var(-color-dark);
}

html:not(.dark) body {
  background-color: var(--color-light);
  color: var(--color-light);
}

section {
  margin-inline: auto;
  width: min(1000px, 100%);
  background: rgba(150, 150, 197, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 50px;
  font-family: var(--font-accent);
  width: 90%;
  min-height: 60vh;
  max-height: fit-content;
  display: block; 
  justify-content: start;
  align-items: center;
  border-radius: 40px;
  background-image: var(--gradient);
  perspective: 600px;
  transition: transform 0.3s ease-out, background-color 0.3s, opacity 0.3s;
  margin: 0 auto; 
  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(50px);
  position: relative; 
  z-index: 1; 
}

main {
  display: flex;
  flex-direction: column;
}


.bg-gradient-to-b {
  background-color: var(--color-light); 
  width: 100vw;
  position: relative;  
  z-index: 0; 
}

/* Light Mode */
.bg-gradient-to-b::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
}


/* Dark Mode */
.dark .bg-gradient-to-b {
  background-color: var(--color-dark);
}


.contact-social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact-social-wrapper a {
  text-decoration: none;
  color: inherit;
}

.footer-container {
  padding: 1rem;
}