.project-item {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0; 
  margin-bottom: 2rem; 
  transition: opacity 0.5s ease;
  transform: translateX(0); 
}

.project-item.big {
  width: 80%;
  height: fit-content;
}

.project-item.medium {
  width: 70%;
  height: fit-content;
}

.project-item.small {
  width: 60%;
  height: fit-content;
}

.project-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.card-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  background-color: var(--neutral-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  text-align: center;
}

.project-item:hover .card-front {
  transform: rotateY(180deg);
}

.project-item:hover .card-back {
  transform: rotateY(0);
}

.bento-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5rem; 
  padding: 0 2rem; 
  gap: 2rem; 
}