.project-item {
  width: fit-content; 
  overflow: hidden; 
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
  transform: rotateX(-25deg) rotateY(25deg);  
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.card:hover {
  transform: perspective(1500px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  scale: 1.1; 
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.project-name-overlay {
  position: absolute;
  top: 10%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center; 
  font-family: var( --font-header);
  letter-spacing: -2px;
  font-size: 2.5rem !important;
  color: var(--accent-color);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s ease;
  mix-blend-mode: difference;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.card-description-overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-accent);
  line-height: 1;
  color: #333;
  display: none;
  opacity: 0;
  z-index: 20;
  transition: opacity 0.5s ease;
  padding: 0.5rem;
  text-align: left;
}

.project-item:hover .project-image {
  filter: grayscale(0%); 
}

.project-item:hover .card-description-overlay {
  display: block;
  opacity: 1; 
}

.project-item:hover .project-name-overlay {
  opacity: 0; 
}
