.project-item {
  width: fit-content; 
  overflow: hidden; 
  border-radius: 15px;
  transition: transform 0.03s ease;
  flex: 0 0 auto; 
  transform: rotateY(-25deg) rotateX(25deg); 
  transition: transform 0.3s ease;
}

.card {
  position: relative;
  overflow: hidden;
  transition: all 0.03s ease-in-out;
  border-radius: 15px;
  box-shadow: -10px 2px 20px rgba(208, 5, 226, 0.189);
}

.card:hover {
  transform: perspective(1500px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  scale: 1.1; 
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.03s ease, transform 0.03s ease;
}

.project-name-overlay {
  position: absolute;
  top: 1%;
  left: 50%; 
  padding: 10%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: linear-gradient(to bottom, var(--color3) 0%, var(--color3) 70%, transparent 100%);
  opacity: 1;
  text-align: center; 
  font-family: var(--font-header);
  letter-spacing: -2px;
  font-size: 2.5rem !important;
  color: var(--color2);
  z-index: 10;
  transition: opacity 0.03s ease;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-description-overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  height: fit-content;
  background-color: var(--color-light);
  font-family: var(--font-accent);
  line-height: 1;
  color: var(--color-dark);
  display: none;
  opacity: 0;
  z-index: 20;
  transition: opacity 0.5s ease;
  padding: 0.5rem;
  text-align: left;
}

.project-item:hover .project-image {
  filter: grayscale(0%); 
}

.project-item:hover .card-description-overlay {
  display: block;
  opacity: 1; 
}

.project-item:hover .project-name-overlay {
  opacity: 0; 
}

.projects-container {
  display: flex;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  gap: 20px; 
  padding: 20px 10px;
  perspective: 1000px; 
  transform-style: preserve-3d;
  scroll-behavior: smooth; 
  width: 100%;
}

.project-item {
  flex: 0 0 auto;
  width: 300px; 
  height: max-content; 
  scroll-snap-align: center; 
  
}

.project-item:hover {
  transform: scale(1.05) rotateY(10deg) rotateX(-10deg);
}


.projects-container::-webkit-scrollbar {
  height: 8px;
}

.projects-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.projects-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}