.social-media-section {
  padding: 1rem;
}

.social-media-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.social-media-item {
  position: relative;
  box-shadow: var(--shadow);
  border: var(--border);
  text-align: center;
  font-family: var(--font-bodytext);
  perspective: 600px;
  transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding: 4px 8px;
  background: rgba(217, 208, 222, 0.184);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  display: grid;
  grid-template-columns: 1fr auto; 
  gap: 10px; 
  align-items: center; 
  justify-items: center; 
  padding: 10px;
}

.social-media-item:hover {
 border-radius: 50px; 
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hint{
  color: var(--color3);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.social-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 40px;
  height: 40px;
  object-fit: contain; 
}

.qr-code-wrapper {
  margin-left: 12px; 
  background-color: var(--color1);
  border: var(--border);
  padding: 0.1rem;
}


@media (max-width: 1200px) {
  .social-media-item {
    flex-basis: 220px;
  }
}

@media (max-width: 900px) {
  .social-media-item {
    flex-basis: 180px;
  }
}

@media (max-width: 700px) {
  .social-media-item {
    flex-basis: 140px;
  }
}