.qr-code-wrapper {
   position: relative;
   display: flex;
   flex-direction: row;
   width: 100px;
   height: 80px;
   background-color: var(--color2);
   border-radius: 5px;
   margin: 0 auto;
   justify-content: center !important;
   align-items: center;
   box-shadow: -0.5px 0.5px 0.5px var(--color3);
   margin-bottom: 5px;
   padding: 5px;
 }

 .qr-code-wrapper:hover {
   transform: translateY(5px); 
 }
 
 .qr-icon {
   border-radius: 50%; 
   background-color: transparent;
 }