.social-media-container {
  flex: 1;
  max-width: 400px;
  display: flex;  
  gap: 1rem;
  justify-content: center; 

}

.social-media-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper {
  background-color: transparent;
  background-size: 200%;
  background-position: 50% 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--font-header);
  border-radius: 40px;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 50px;
  height: 50px;
  max-width: 100%;
}

.icon-wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.icon-wrapper:hover {
  box-shadow: var(--shadow);
  border: 0.5px solid rgb(30, 5, 5);
  transform: scale(1.1);
}

.icon-wrapper:active {
  transform: scale(0.98);
}

.icon-wrapper[data-hint]:hover::after {
  content: attr(data-hint);
  position: absolute;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: var(--color-light);
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 5px 8px;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
}

.icon-wrapper[data-hint]::after {
  opacity: 0;
  visibility: hidden;
}