.projects-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 10px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    perspective: 500px; 
    transform-style: preserve-3d; 
    position: relative;
  }