.container-aboutme{
display: flex;
flex-direction: row;
align-items: start;
gap: 20%;
}

.text-aboutme{
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-normal); 
    font-style: normal;
    font-size: var(--font-size-xs);
    min-width: fit-content;
    height: fit-content; 
    position: relative;
    padding: 10%;
    width: 100%;
    overflow: hidden;
}

ß
  
  .text-aboutme {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.05s ease, transform 0.5s ease;
  }
  
  .about-me-container {
    position: relative;
    display: inline-block;
    padding: 10px;
    transition: color 0.03s ease;
  }
  
  .about-me-container:hover + .container-aboutme .text-aboutme {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.05s ease, transform 0.5s ease;
  }
  