.about-me {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.about-me--open {
  max-height: 300px; 
  opacity: 1;
}

.about-me--closed {
  max-height: 0;
  opacity: 0;
}

.name{
font-family: var(--font-header);
}

.available{
  font-family: var(--font-accent);
  color: var(--green-semantic);
}

.about-me__icon {
  width: 24px; 
  height: 24px;
  margin-right: 8px;
  transition: transform 0.3s ease; 
}

.about-me__icon:hover {
  transform: scale(1.2); 
}

.about-me__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  align-items: center;
}


.about-me__text {
  font-family: var(--font-bodytext);
  font-style: italic;
  line-height: 2px;
  color: var(--text-color);
}