.about-me-container {
  position: relative;
  height: 100vh; 
  overflow: hidden;
}

.about-me-content {
  position: relative;
  z-index: 1; 
  padding: 20px;
  background-color: #fff; 
  color: var(--text-dark);
  border-radius: 10px;
  width: 80%;
}

.about-me__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 30px;
  color: var(--text-dark);
  cursor: pointer;
}


.about-me__photo-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.about-me__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.available {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  background-color: #fff; 
  font-family: monospace;
  color: var(--green-semantic);
  border-radius: 10px;
}

.about-me__content {
  padding: 10px 20px;
  background-color: var(--neutral-color);
  border-radius: 10px;
}

.about-me__text {
  font-size: 18px;
  margin: 10px 0;
 
  color: var(--text-dark);

}