.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-family: var(--font-accent);
    background-color: var(--color4);
    position: sticky;
    z-index: 100;
  }
  
  .footer-content{
    padding: 1%;
  }
  /* .icons-by-icons8{
    color: #505A5B;
  } */