.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--font-accent);
  }
  
  /* .icons-by-icons8{
    color: #505A5B;
  } */